:root {
  --body-background: #f3f3f3;
  --li-background: #ffffff;

  --light-grey: #d3d3d3;
  --dark-grey: #999999;

  --light-red: #f08080;
  --dark-red: #8b0000;
}

body {
  background: var(--body-background);
}

div.main-loader,
div.main-error {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

div.main-loader {
  color: var(--dark-grey);
}

div.main-error {
  color: var(--dark-red);
}
